.list {
    list-style-type: none;
    padding-left: 0;
    margin: 20px;
    min-height: 15px;
}

.list__item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
   align-items: center;   
}
.list__item--hidden {
    display: none;
}


.list__itemContent--done {
    text-decoration: line-through; 
}

.list__button {
    height: 25px;
    width: 25px;
    color: white;
    border: none;
}

.list__button--done{
    background-color: #2e8832;
    transition: 2s;
}

.list__button--done:active {
    border: 2px solid black;
}

.list__button--done:hover {
    background-color: hsl(122, 49%, 45%);
}

.list__button--remove {
    background: red;
    transition: 2s;
}

.list__button--remove:hover {
    background: hsl(0, 100%, 70%);
}

.list__button--remove:active {
    border: 2px solid black;
}