.section__buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .section__buttons {
        flex-wrap: wrap;
    }
}

.buttons__button {
    margin: 0 0 0 20px;
}

@media (max-width:767px) {
    .buttons__button {
        flex-basis: 100%;  
        margin: 10px;      
    }
}

.hideShowButton {
    color: teal;
    border: none;
    background-color: inherit;
    font-size: 15px;
    transition: 1s;
}

.hideShowButton:hover {
    color: hsl(180, 100%, 35%);
}

.completeAllButton {
    color: teal;
    border: none;
    background-color: inherit;
    margin-right: 15px;
    font-size: 15px;
    transition: 1s;
}

.completeAllButton:hover {
    color: hsl(180, 100%, 35%);
}

.completeAllButton:disabled {
    color: rgb(184, 179, 179);
}
