.section__buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .section__buttons {
        flex-wrap: wrap;
    }
}

.buttons__button {
    margin: 0 0 0 20px;
    color: teal;
    border: none;
    background-color: inherit;
    font-size: 15px;
    transition: 1s;
    margin-right: 10px;
}
.buttons__button:disabled {
    color: rgb(184, 179, 179);
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

@media (max-width:767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

